# 🧑‍🔧 Maintainers

This document lists the maintainers (also known as core members) of this
repository. If you're interested in contributing and becoming a maintainer,
please see [Contributing].


[Contributing]: CONTRIBUTING.md

## Current Maintainers

| Maintainer   | Email                | GPG Public key |
| ------------ | -------------------- | -------------- |
| {{ author }} | <{{ author_email }}> |                |
