"""Top-level module."""

from typing import Final

from {% include pathjoin('includes', 'package_name.jinja') %}.package_metadata import __version__


__all__: Final = ["__version__"]
"""Public module attributes."""
