```{include} ../README.md
:relative-docs: docs/
:relative-images: docs/
```

```{toctree}
---
hidden:
maxdepth: 1
---

Quickstart <quickstart>
Reference <autoapi/index>
Security <SECURITY>
License <license>
Contributing <CONTRIBUTING>
Maintainers <MAINTAINERS>
Code of Conduct <CODE_OF_CONDUCT>
```
