# ⚡ Quickstart Guide

## Installation

Is is possible to install the package in the following ways.

### From source

Once you have obtained a copy of the sources, you can install the package with
pip (preferably in a [virtual environment]).

To install with pip from the source tree:

```console
pip install .
```

[virtual environment]: https://docs.python.org/3/tutorial/venv.html
